/* paragraph text is blue */
p {
  color: #F54927;
  text-align: center;
  text-align-last: left;
  direction: rtl;
  unicode-bidi: bidi-override;
  font-size: 15px;
  font-family: "kablammo";
  /* background-color: purple */;
}

header {
  color: #27E0F5;
  font-size: 26px;
  background-color: black;
  border: 12px dashed orange;
}


.kablammo-<uniquifier> {
  font-family: "Kablammo", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "MORF" 0;
}

body {
  background-color: white;
  /* background-image: url("media/NEwTech.jpg"); */
  /* background-repeat: round; */
  background-attachment: scroll;
  scroll-behavior: auto;
  
}

.box {
  width: 150px;
  background-color: red;
  margin: 200px, 30px, 40px, 500px;
  padding: 50px, 30px, 50px, 900px;
  position: sticky;
  height: 200px;
  top: 0px;
  display: flex cross-axis;
  flex-direction: row;
  flex-wrap: column wrap;
  justify-content: space-evenly;
  gap: 30px;
  order: 2;
  align-self: center;  
  


h2 {
  color: purple;
  font-size: 3.6 em;
}

p {
  font-family: Helvetica, Arial, sans-serif;
  color: black;
  border-right: 200px solid white;
}

a:hover {
  color: alicerblue;
}
}

dov.box2 {
  color: white;
  background-image: url("media/NEwTech.jpg");
  width: 300px;
  padding: 250px;
  margin: 500px;
  position: sticky;
  top: 100px;
  bottom: 8px;
  border-style: dotted dashed solid double;
  border-radius 10px 30px
  border-color: #F7C7FF;
  border-width: 12px 25px;
  z-index: -1;
  
  
  p {
    font-family: fantasy;
    color: white;
    background-color: black;
  }
  
}

div{
  color: white;
  background-image: url("media/NEwTech.jpg");
}